fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
torch>=2.2
transformers>=4.40
pdfplumber>=0.10
spacy>=3.7
nltk>=3.8
pandas>=2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl